@media (max-width: 480px) {
 
  .ChatContainer {
    position: relative;
    width: 100% !important;
    height: 100%;
    padding: 2px 3px 2px 7px;

  }
  .chat-list-container {
    display: none;
    width: 100vw;
    height: 100%;
  }
  .chat-list-container .navbar-container{
    height: 14%;
  }
  .chat-list-container .chat-list-header{
    height: 9%;
  }
  .chat-list-container .chat-list {
    height: 38%;
  }
  .chat-list-container .chat-suggest {
    height: 35%;
  }


  .brand-title {
    display: none;
  }

  .chat-container {
    height: 100%;
    width: 99%;
  }
  .chat-container .topbar{
    height: 9%;
  }

  .chat-container .input-container{
    height: 8%;
  }
  /* .chat-container .chat-box{
    height: 80%;
  } */
  .icons {
    display: block;
  }
  .cancel-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  
  .ChatContainer {
    position: relative;
    width: 70%;
    height: 100%;
    padding: 2px 3px 2px 7px;
  }
  .chat-list-container {
    display: none;
    width: 100vw;
    height: 100%;
  }
  .chat-list-container .navbar-container{
    height: 14%;
  }
  .chat-list-container .chat-list-header{
    height: 9%;
  }
  .chat-list-container .chat-list {
    height: 38%;
  }
  .chat-list-container .chat-suggest {
    height: 35%;
  }

  .brand-title {
    display: none;
  }
  
  .chat-container {
    height: 100%;
    width: 99%;
  }
  .chat-container .topbar{
    height: 9%;
  }

  .chat-container .input-container{
    height: 8%;
  }

  .icons {
    display: block;
  }
  .cancel-btn {
    display: block;
  }
}

@media (max-width: 1024px) {
  .ChatContainer {
    display: block;
    width: 90%;
  }
  .chat-list-container {
    width: 40%;
    height: 89vh !important;
  }
  .chat-list-container .navbar-container{
    height: 14%;
  }
  .chat-list-container .chat-list-header{
    height: 9%;
  }
  .chat-list-container .chat-list {
    height: 38%;
  }
  .chat-list-container .chat-suggest {
    height: 35%;
  }
  .chat-container {
    height: 100%;
  }
  .chat-container .topbar{
    height: 9%;
  }

  .chat-container .input-container{
    height: 8%;
  }
  
}

@media (max-width: 1280px) {
  .ChatContainer {
    display: block;
    width: 90%;
  }
  .chat-list-container {
    width: 40%;
    height: 89vh !important;
  }
  .chat-list-container .navbar-container{
    height: 14%;
  }
  .chat-list-container .chat-list-header{
    height: 9%;
  }
  .chat-list-container .chat-list {
    height: 38%;
  }
  .chat-list-container .chat-suggest {
    height: 35%;
  }

  
  .chat-container {
    height: 100%;
  }
  .chat-container .topbar{
    height: 9%;
  }

  .chat-container .input-container{
    height: 8%;
  }

}

@media (min-width: 1280px) {
  .ChatContainer {
    display: block;
    width: 90%;
  }
  .chat-list-container {
    width: 40%;
    height: 89vh !important;
  }
  .chat-list-container .navbar-container{
    height: 12%;
  }
  .chat-list-container .chat-list-header{
    height: 9%;
  }
  .chat-list-container .chat-list {
    height: 39%;
  }
  .chat-list-container .chat-suggest {
    height: 36%;
  }


  .chat-container {
    height: 100%;
  }
  .chat-container .topbar{
    height: 9%;
  }
  .chat-container .input-container{
    height: 8%;
  }
 
}
